<%- include('../partials/header.ejs') %>
<%- include('../partials/headerframe.ejs') %>

<div class="comment">
  <div class='commentout'>
    <form action='/collection/<%= collection._id %>/comments' method='POST'> 
      <div>
        <label class="form-label">Comment</label>
        <br><br>
        <input type="text" class="form-control" name='comment[text]'>
      </div>
      <br><br>
      <button type="submit" class="button">Submit</button>
      <a href='/collection/<%= collection._id %>' class="button">Go Back</a> 
    </form>
  </div>
</div>

<%- include('../partials/footerframe.ejs') %>
<%- include('../partials/footer.ejs') %>