<%- include('../partials/header.ejs') %>

<div class="profile">
    <img src='/images/mysong.png' class="mysong">
    <div class="inprofile">
        <div class="imageprofile">
            <img src= '<%= user.profileImage %>'>
        </div>    
        <h2>Your Profile</h2>
        <br><br><br><br>
        <p><%= user.username %></p>
        <br><br><br><br>
        <p><%= user.email %></p>
        <br><br><br><br>
        <p><%= user.day %>/<%= user.month %>/<%= user.year %></p>
        <br><br><br><br>
        <p><%= user.gender %></p>
        <br><br><br><br>
        <a href='/collection' style="text-decoration: none;" class="button"> Exit </a>
    </div>
</div>

<%- include('../partials/footer.ejs') %>